.button {
	width: 100%;
	font: inherit;
	padding: 0.5rem 1.5rem;
	border: 1px solid #062dad;
	color: white;
	background: #062dad;
	box-shadow: 0 3px 10px rgb(63, 29, 255);
	cursor: pointer;
}

.button:focus {
	outline: none;
}

.button:hover,
.button:active {
	background: #0e60ac;
	border-color: #0e60ac;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

@media (min-width: 768px) {
	.button {
		width: auto;
	}
}
